<h2>All Historical Landmarks</h2>

<!-- add content here -->
<form action="" method="get">
  <div>
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="email">Enter your email: </label>
    <input type="email" name="email" id="email">
  </div>
  <div>
    <input type="submit" value="Subscribe!">
  </div>
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
